* {
    padding: 0%;
    margin: 0%;
    background-color: rgb(43, 48, 43);
}


main {
    background-color: rgb(43, 48, 43);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}
.loading {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
}
.search-box {
    width: 40%;
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(43, 48, 43);


}
img {
    width: 353px;
    height: 278px;
}
.text-center {
    margin: 5px;
}
.pagination-box{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


@media screen and (max-width: 600px) {
    .search-box {
        width: 80%;
    }
}
